body {margin:0; padding:0; background:url('../images/background.png'); font-family:'Myriad Pro';}

pre {background-color: #eee;padding: 10px;font-size: 11px; overflow: auto;}
blockquote{font-style: italic; font-family:serif;}

.left{float:left;}
.right{float:right;}

a { color: #1FA9FF; }

h2{margin-top:0;}

.fieldWithErrors {padding: 2px;background-color: red;display: table;}
#errorExplanation {width: 400px;border: 2px solid red;padding: 7px;padding-bottom: 12px;margin-bottom: 20px;background-color: #f0f0f0;}
#errorExplanation h2 {text-align: left;font-weight: bold;padding: 5px 5px 5px 15px;font-size: 12px;margin: -7px;background-color: #c00;color: #fff;}
#errorExplanation p {color: #333;margin-bottom: 0;padding: 5px;}
#errorExplanation ul li {font-size: 12px;list-style: square;}

.pagination .disabled{display:none;}
.ui-tabs-hide{display:none;}

#header{position:absolute;}

#main{width:660px; background:#fff; color:#000; margin:30px auto; padding:10px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  }
.post{padding:10px 0 20px 0; }
.post img{max-width:100%;}

#new-post-tabs ul{margin:0; padding:0;}
#new-post-tabs li{float:left; list-style:none;}
#new-post-tabs a{display:block; padding:5px; text-decoration:none;}
#new-post-tabs .ui-tabs-selected a{background:#eee;}
#new-post-tabs div{clear:both; background:#eee; padding:10px;}
#new-post-tabs textarea, #new-post-tabs input[type='text']{width:100%; margin:0; clear:both;}

label.error{float:right; color:red;}

#type_list{margin:0; padding:0;}
#type_list li{float:right; list-style:none;}
#title{float:left; margin:0; font-size:2.6em; color:#ccc;}
#title a{color:#222; text-decoration:none; padding:0 2px;}

.clear{clear:both;}

.show-extra-fields{}
.show-extra-fields.selected{background:red;}
.extra-fields p{margin-top:0;}
.form_submit{margin:0;}

.code h2{margin-bottom:0;}
.code .via{font-size:0.75em; margin:0; color:#aaa;}
.code .via a{color:#888;}

#footer{font-size:0.8em; color:#222;}
#footer a{color:#aaa;}