= form.label :title
.field= form.text_field :title, :placeholder => 'Title..'
= form.label :description
.field= form.text_area :description, :rows => 16, :class => "required", :placeholder => 'Content..'