.field= form.text_field :title, :placeholder => 'Title..'
.field= form.text_area :description, :rows => 14, :class => "required", :placeholder => 'Code..'
.field= form.text_field :link_url, :class => 'url', :placeholder => 'Link..'