.field= form.text_field :image_url, :class => "required url image", :placeholder => 'Image url..'
.field= form.text_field :link_url, :class => 'url', :placeholder => 'Link..'
.field= form.text_area :description, :rows => 6, :placeholder => 'Description..'