.field= form.text_field :title, :placeholder => 'Title..'
.field= form.url_field :link_url, :class => "required url", :placeholder => 'Link..'
.field= form.text_area :description, :rows => 6, :placeholder => 'Description..'