= form.label :quote
.field= form.text_area :quote, :rows => 8, :class => "required", :placeholder => 'Quote..'
= form.label :description
.field= form.text_area :description, :rows => 4, :placeholder => 'Context..'