.field= form.text_field :link_url, :placeholder => 'Youtube Url..', :class => 'url youtube'
.field= form.text_area :video_embed, :rows => 6, :class => "", :placeholder => 'Video Embed..'
.field= form.text_area :description, :rows => 6, :placeholder => 'Description..'