<div class='code post'>
    <% unless code.title.blank? %>
        <h2><%= code.title %></h2>
    <% end %>
    <% unless code.link_url.blank? %>
        <p class='via'>via <%= auto_link(code.link_url){ |text| truncate(text, 80) } %></p>
    <% end %>
    <pre><%= h code.description %></pre>

    <%= link_to '*', post_path(code) %>
</div>